 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');



 html {
     height: 100%;
 }

 body {
     height: 100%;
     margin: 0px;
     padding: 0px;
     font-family: 'Fira Sans';
     background-color: rgb(255, 255, 255);
     background-size: 100%;
     scroll-behavior: smooth;
 }

 :root {
     --lien: #020073;
     --primary: #020073;
     --white: #F6F9F7;
     --grey: #c3c3c3;
     --content: calc((100vw/12)*9.5);
     --small: calc((100vw/12)*0.5);
     --mid: calc(100vw/12);
     --big: calc((100vw/12)*2);
 }

 a {
     color: var(--lien);
     text-decoration: none;
     font-weight: 700;
 }

 a:hover {
     text-decoration: underline;
 }

 .button-tt {
     padding: 10px 20px;
     background: #1714dc;
     border: 1px solid rgba(196, 196, 196, 0.44);
     box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.17);
     backdrop-filter: blur(3px);
     /* Note: backdrop-filter has minimal browser support */
     border-radius: 3px;
     color: white;
     transition: 300ms ease-in-out;
     font-size: 20px;
     margin-bottom: -15px;
 }

 .button-tt:hover {
     padding: 10px 20px;
     background: linear-gradient(273.6deg, var(--primary) 1.02%, var(--primary), var(--primary) 98.01%);
     transition: 300ms ease-in-out;
     text-decoration: none;
     cursor: pointer;
 }

 h1 {
     margin: 0px;
 }

 h5 {
     margin: 5px;
     font-weight: 300;
 }

 h2 {
     font-size: 20px;
     padding: 0px 8px;
     font-weight: 500;
 }


 .content {
     padding: 20px;
     height: 93vh;
     text-align: center;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     max-width: 600px;
     margin: auto;
     align-items: center;
     max-height: 900px;
     background-size: cover;
     height: 70%;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     gap: 30px;
 }

 .top {
     margin: 10px 0px;
     display: flex;
     text-align: left;
 }

 .top img {
     width: 25%;
     max-width: 120px;
     object-fit: contain;
 }

 .top .right {
     margin-left: 5%;
 }

 .top a {
     width: 100%;
     display: block;
     margin-top: 10px;
 }


 .section {
    border-radius: 15px;
    width: 98%;
    margin: 10px;
    position: relative;
    background: #f4f4f4b0;
 }

 .section .orange {
    border-radius: 15px;
 }
 .section .orange::after  {
    border-radius: 15px;
 }
 

 .reseaux {
     margin-top: 20px;
 }

 .reseaux a {
     margin: 10px;
 }

 .portfolio {
     display: block;
 }

 input {
     font-size: 18px;
     padding: 10px;
     border-radius: 10px;
     border: var(--lien) solid 2px; 
     font-family: Inconsolata, monospace;
     display: block;
     width: 90%;
     margin: auto;
 }

 #err {
     color: red;
 }

 #succ {
     color: green;
 }

 .orange {
     background: linear-gradient(137deg, #ffffff, #004fff, #b8ceff, #ffffff);
     background-size: 240% 240%;
     animation: gradient-animation 5s ease infinite;
     width: 100%;
     height: 55px;
     position: absolute;
     top: 0px;
     left: 0px;

     border-radius: 5px;
     z-index: -1;

     opacity: .5;

 }

 .orange::after {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     right: 0;

     background: linear-gradient(0deg, #ffffff, #ffffff, #cbdcff, #ffffff30);
 }

 .orange2 {
     background: linear-gradient(137deg, #ffffff, #b8ceff, #004fff, #ffffff);
     background-size: 240% 240%;
     animation: gradient-animation 5s ease infinite;
     width: 25px;
     height: 25px;
     position: absolute;
     top: 0px;
     right: 0px;
     border-radius: 3px;
     opacity: .5;
     transform: translate(30%, -30%);
     display: none;
 }


 @keyframes gradient-animation {
     0% {
         background-position: 0% 50%;
     }

     50% {
         background-position: 100% 50%;
     }

     100% {
         background-position: 0% 50%;
     }
 }